$white: #fff;
$black: #000;
$blue: #002868;
$rebecca-purple: #639;
$red: rgb(191, 10, 48);
$light: #ccc;
$green: #0f0;
$fedex-purple: #609;
$fedex-orange: #f60;
$fedex-red: #f03;
$fedex-blue: #09c;
$fedex-green: #0c0;
$fedex-yellow: #fc0;

$helv: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$robo: 'Roboto Condensed', sans-serif;

$hdr-min-height: 200px;

// Grid map settings
$grid: () !default;
$custom-grid: () !default;

$grid: (
	columns: 12,
	max-width: 992,
	gutters: 20
);

