$white: #ffffff;
$black: #000;
$blue: #002868;
$rebecca-purple: #639;
$red: rgb(191, 10, 48);
$light: #ccc;
$green: #0f0;

$helv: "Helvetica Neue", Helvetica, Arial, sans-serif;
$oswald: 'Oswald', sans-serif;
$robo: 'Roboto Condensed', sans-serif;
$fedex-purple: #660099;
$fedex-orange: #FF6600;
$fedex-red: #FF0033;
$fedex-blue: #0099CC;
$fedex-green: #00cc00;
$fedex-yellow: #ffcc00;

$hdr-min-height: 220px;

// $full-bleed: width: 100vw;
// position: relative;
// left: 50%;
// right: 50%;
// margin-left: -50vw;
// margin-right: -50vw;;