body {

	color: $black;
	font-family: sans-serif;
	font-size: 16px;

}

main {

	margin-top: rem(20px);

	//define the container as a grid container and set properties accordingly
	@include grid-visual;
	@include grid();

	h1 {
		@include columns(8);
	}

	section {

		width: 100%;

		@include media(desktop){

			@include columns(6);

		}

	}

	aside {

		width: 100%;

		@include media(desktop){

			@include columns(2);

		}

	}

	&.test {

		@include media(desktop){
			flex-wrap: wrap;
		}

		section {

			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-evenly;
			// width: 100%;

			@include media(tablet){

				@include columns(6);
				flex-wrap: wrap;

			}

			@include media(desktop){
				@include columns(6);
			}

			p {

				width: 100%;

				@include media(tablet){
					width: 100%;
				}
	
				@include media(desktop){
					width: calc(100% / 4);
				}

				&:last-child {

					@include media(desktop){
						width: calc(100% / 4);
					}

				}

			}

		}

		aside {

			@include media(tablet){
				@include columns(2);
			}

			@include media(desktop){
				@include columns(2);
			}

		}

	}

}

footer {

	@include media(desktop) {
		@include grid();
	}

}