body {
	color: $black;
	font-family: sans-serif;
	font-size: 16px;

	@include media(mobile) {
		background-color: $blue;
	}

	@include media(desktop) {
		background-color: $rebecca-purple;
	}

}

main {

	background-color: $light;
	margin-top: rem(20px);

	//define the container as a grid container and set properties accordingly
	@include grid();

	h1 {
		@include columns(12);
	}

	section {

		background-color: $red;
		width: 100%;

		@include media(desktop){

			@include columns(9);

		}

	}

	aside {

		background-color: $green;
		width: 100%;

		@include media(desktop){

			@include columns(3);

		}

	}

	&.test {

		@include media(desktop){
			// @include column-collapse();
			flex-wrap: wrap;
		}

		section {

			background-color: $green;
			// width: 100%;

			@include media(tablet){

				@include columns(8);
				flex-wrap: wrap;

			}

			@include media(desktop){
				@include grid();
				@include columns(8);
			}

			p {

				width: 100%;

				@include media(tablet){

					@include columns(4);
					width: 100%;

				}
	
				@include media(desktop){
					@include columns(4);
				}

			}

		}

		aside {

			@include media(tablet){
				@include columns(4);
			}

			@include media(desktop){
				@include columns(4);
			}

		}

	}

}

footer {

	background-color: $light;

	@include media(desktop) {
		@include grid();
	}

}