body {

	color: $black;
	font-family: $helv;
	font-size: 16px;
	font-weight: 300;

}

section,
a,
p,
q,
aside,
header,
h1, h2, h3,h4, h5, h6 {

	&::selection {
		background: $fedex-yellow;
		color: $fedex-purple;
	}

}

h1,
h2,
h3,
h4,
h5,
h6 {

	font-weight: 400;

	&.logo {

		a {

			color: $fedex-orange;
			font-family: $oswald;
			font-size: rem(78px);
			font-weight: bold;
			letter-spacing: -6px;
			text-decoration: none;

			strong {
				color: $fedex-purple;
			}

		}

		q {

			@include media(tablet-up) {
				background-color: transparent;
				color: $black;
				display: inline;
				padding-left: 20px;
				width: auto;
				position: auto;
				left: auto;
				right: auto;
				margin-left: auto;
				margin-right: auto;
			}

			background-color: $fedex-red;
			color: $white;
			display: block;
			font-family: monospace;
			font-size: 20px;
			padding: 20px;
			
			width: 100vw;
			position: relative;
			left: 50%;
			right: 50%;
			margin: 20px -50vw 0;

		}

	}

}

a {

	color: $fedex-blue;

	&:visited {
		color: $fedex-blue;		
	}

	&:hover {
		color: $fedex-purple;
	}

	&:active {
		color: $fedex-green;
	}

}

footer {}