@import 'rem';
@import 'vars';
@import 'mixins';
@import 'flexsass';

$colors: (
	light: $light,
	dark: $black
);

$brand-colors: (
	main: $red,
	alternative: $blue
);

// Merge maps
$merged: map-merge($colors, $brand-colors);

body {
	color: $black;
}

main {

	@include media(mobile) {
		background-color: $blue;
	}

	@include media(desktop) {
		background-color: $rebecca-purple;
		margin: 0 auto;
		width: rem(1200px);
	}

	background-color: $red;
	width: 100%;
}

p {

	letter-spacing: 4px;
	width: 100%;

	@if map-has-key($map, key) {
		content: 'Map has this key.';
	} @else {
		content: 'Map has not this key.';
	}

}

.element {

	content: map-get($merged, alternative);

	&::before {
		content: map-get($map, key);
	}

}
